:root {
    --color1: linear-gradient(90deg, rgba(112, 0, 41, 0.921) 0%, rgba(152, 0, 56, 0.584) 23%, rgba(228, 0, 84, 0.447) 43%, rgba(228, 0, 84, 0.433) 57%, rgba(152, 0, 56, 0.562) 76%, rgba(112, 0, 41, 0.89) 100%);;
    --color2: linear-gradient(90deg, rgba(112, 0, 41, 0.83) 0%, rgba(152, 0, 56, 0.811) 23%, rgba(228, 0, 84, 0.707) 43%, rgba(228, 0, 84, 0.704) 57%, rgba(152, 0, 56, 0.83) 76%, rgba(112, 0, 41, 0.778) 100%);
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

/* __________________TODO PARA EL INDEX Y APLICA A LAS DEMAS PAGINAS__________________ */
/* body */
.content_box {
    background: fixed center url(../images/luces-rosas.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* nav-bar */
.nav_home{
    display: flex;
    justify-content: space-between;
}

/* carrucel */
.carrucel_h1 {
    color: white;
    text-shadow: 0.5rem 0.3rem 0.5rem black;
}

.carrucel_back {
    background: var(--color1);
    height: 4rem;
    backdrop-filter: blur(0.3rem);
}

/* header */
.cont_check {
    display: flex;
    flex-direction: row;
}

/* grupo de cartas */
.img_fit {
    height: 10rem;
    object-fit: cover;

}
.fondo_cards{
    padding: 1rem;
    background-color: rgba(143, 46, 105, 0.073);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,0.2);
    backdrop-filter: blur(0.5rem); 
}

/* footer */
.footer {
    background: var(--color2);
}

.footer_h3 {
    color: white;
    text-shadow: 0.5rem 0.3rem 0.5rem black;
}

/* __________________PARA LA TABLA DE STATS__________________ */

.fondo_table{
    padding: 1rem;
    background-color: rgba(143, 46, 105, 0.073);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,0.2);
    backdrop-filter: blur(0.5rem); 
}

/* __________________PARA DETAILS__________________ */

.img_details{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}
.atras_card{
    display: flex;
    justify-content: center;
}
.carta{
    background-color: rgba(143, 46, 105, 0.073);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,0.2);
    backdrop-filter: blur(0.5rem); 
}