:root {
    --color1: linear-gradient(90deg, rgba(112, 0, 41, 0.921) 0%, rgba(152, 0, 56, 0.584) 23%, rgba(228, 0, 84, 0.447) 43%, rgba(228, 0, 84, 0.433) 57%, rgba(152, 0, 56, 0.562) 76%, rgba(112, 0, 41, 0.89) 100%);;
    --color2: linear-gradient(90deg, rgba(112, 0, 41, 0.83) 0%, rgba(152, 0, 56, 0.811) 23%, rgba(228, 0, 84, 0.707) 43%, rgba(228, 0, 84, 0.704) 57%, rgba(152, 0, 56, 0.83) 76%, rgba(112, 0, 41, 0.778) 100%);
    font-size: 16px;
    --color3: rgb(201, 164, 192);
    --color4: rgb(148, 119, 141);
}

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

/* __________________TODO PARA EL INDEX Y APLICA A LAS DEMAS PAGINAS__________________ */
/* body */
.content_box {
    background: fixed center url(../images/luces-rosas.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* nav-bar */
.nav_home{
    display: flex;
    justify-content: space-between;
}
.nav_buton{
    margin-right: 1rem;
}

/* carrucel */
.carrucel_h1 {
    color: white;
    text-shadow: 0.5rem 0.3rem 0.5rem black;
}

.carrucel_back {
    background: var(--color1);
    height: 4rem;
    backdrop-filter: blur(0.3rem);
}

.flecha{
    display: flex !important;
    align-items: center;
}

/* header  y check*/
.fondo_check{
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(143, 46, 105, 0.073);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,0.2);
    backdrop-filter: blur(0.5rem); 
}


/* grupo de cartas */
.img_fit {
    height: 12rem;
    object-fit: cover;
}
.fondo_cards{
    padding: 1rem;
    background-color: rgba(143, 46, 105, 0.073);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,0.2);
    backdrop-filter: blur(0.5rem); 
}
.carta_body{
    width: 30% !important;
}
/* footer */
.footer {
    background: var(--color2);
}

.footer_h3 {
    color: white;
    text-shadow: 0.5rem 0.3rem 0.5rem black;
}

svg{
    width: 2rem;
    margin: 1rem;
    padding: 0.2rem;
    filter: blur(0.04rem);
}
svg:hover{
    background-color: var(--color3);
    border-radius: 1rem;
    padding: 0.1rem;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 2px 4px 8px 1px rgba(255, 150, 225, 0.56);
    filter: none;
}

/* __________________PARA LA TABLA DE STATS__________________ */

.fondo_table{
    width: 60% !important;
    padding: 1rem;
    background-color: rgba(143, 46, 105, 0.073);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,0.2);
    backdrop-filter: blur(0.5rem); 
}

/* __________________PARA DETAILS__________________ */

.img_details{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}
.atras_card{
    display: flex;
    justify-content: center;
}
.carta{
    background-color: rgba(143, 46, 105, 0.073);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.2rem rgba(0,0,0,0.2);
    backdrop-filter: blur(0.5rem); 
}
.imagen_details{
    width: 12rem;
}

/* MEDIAS QUERY */

@media (min-width: 320px) and (max-width: 768px) {
    .cont_check{
        display: flex;
        flex-direction: column;
    }
    .busqueda_int{
        margin-top: 1rem;
    }
    .carrucel_h1{
        text-align: center;
    }
    .fondo_table{
        width: 90%;
        padding: 0%;
        margin: 0%;
    }
    .carta_body{
        width: 90% !important;
    }
}
@media (min-width:768px) and (max-width: 969px){
    .carta_body{
        width: 40% !important;
    }
}